snippet comment
	<%% ${1} %%>

snippet for
	<%for ${1} in ${2}%>
		${3}
	<%!for%>

snippet if
	<%if ${1}%>
		${2}
	<%!if%>

snippet template
	<%template ${1}%>
		${2}
	<%!template%>

snippet apply
	<%apply ${1} with ${2}%>
